<!-- task-item.component.html -->
<div class="task-item">
  <!-- Row 1: Status bar -->
  <div class="task-bar">
    
    <!-- Progress -->
    <div class="status" [ngClass]="progressConfig[status()].colorClass">
      <mat-icon>{{ progressConfig[status()].icon}}</mat-icon>
    </div>
    <span class="status-text">{{ progressConfig[status()].label | titlecase }}</span>

    <!--Priority-->
    <div>
      <span class="priority" [ngClass]="priorityConfig[priority()].colorClass" >
        <mat-icon>{{ priorityConfig[priority()].icon }}</mat-icon>
        {{ priorityConfig[priority()].label }}
      </span>
    </div>
  </div>

  <!-- Row 2: Title -->
  <h1 class="task-title" [class.completed]="task().status === 'completed'">{{ task().title }}</h1>

  <!-- Row 3: Description -->
  <p class="task-description" [class.completed]="task().status === 'completed'">{{ task().description }}</p>

  <!-- Row 4: Actions --> 
  <div class="timeline-container">
    <div class="timeline">
      
        <mat-icon>event</mat-icon>
        <span>Created: {{task().createdAt| date:'dd/MM/yyyy'}}</span>
  
        <mat-icon>event</mat-icon>
        <span>Due: {{task().dueDate | date:'dd/MM/yyyy'}}</span>
      
     
    </div> 
    <div class="task-actions">
      <button matIconButton class="edit-btn" (click)="onEdit()"> <mat-icon>edit</mat-icon> </button>
      <button mat-icon-button class="delete-btn" (click)="onDelete()"> <mat-icon>delete</mat-icon> </button>
    </div>
  </div>
</div>
