<mat-card class="no-shadow-card">
    <mat-card-header>
        <mat-card-title>
            <button matFab  class="fab-clean">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Task List</span>
        </mat-card-title>

        <!-- task status stats -->
        <tm-task-stat 
            [taskStats]="taskStats()">
        </tm-task-stat>

    </mat-card-header>

    <!-- Task List -->
    <mat-card-content>
        <div>
            @for( task of tasks(); track task.id) {
                <div class="task-item">
                    <tm-task-item [task]="task" 
                        (editTask)="handleEditTask($event)" 
                        (deleteTask)="handleDeleteTask($event)">
                    </tm-task-item>
                </div>
            }
        </div>
    </mat-card-content>
</mat-card>
