
/* card-header-center */

.no-shadow-card mat-card-header {    
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 8px 8px;
    border: 1px solid var(--mat-sys-secondary);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}     

 mat-card-title {    
    font-size: 1rem;
    font-weight: 500;
}

.fab-clean {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    border: none;
    background: var(--mat-system-on-surface);
}



.task-item {
    border: solid 1px var(--mat-sys-secondary);
    margin: 0.8rem;
    border-radius: 6px;
    
}

