<mat-card class="no-shadow-card">
    <mat-card-header>
        <mat-card-title>
            <button matFab extended class="fab-clean">
                <mat-icon>menu</mat-icon>
                <span>Task List</span>
            </button>
        </mat-card-title>

        <!-- task status stats -->
        <div class="status-container">
            <span class="status">
                <mat-icon>access_time</mat-icon>
                1/5 completed
            </span> 
            <span class="status pending">
                <mat-icon>access_time</mat-icon>
                5 pending
            </span>
        </div>        
    </mat-card-header>

    <!-- Task List -->
    <mat-card-content>
        <div>
            @for( task of tasks(); track task.id) {
                <div class="task-item">
                    <tm-task-item [task]="task" 
                        (editTask)="handleEditTask($event)" 
                        (deleteTask)="handleDeleteTask($event)">
                    </tm-task-item>
                </div>
            }
        </div>
    </mat-card-content>
</mat-card>
